<h1>Posttest Praktikum Sistem Informasi </h1>

NIM **NIM KAMU DISINI**

NAMA **NAMA KAMU DISINI**

> Kerjakanlah tugas berikut berdasarkan instruksi yang diberkan. Kumpulkanlah hasil posttest ini pada Github dengan mengumpulkan link repository kalian.

Disini ada dua jenis tugas.

1. Visualisasi
2. Penerapan Algoritma Naive Bayes


Ketentuan pengumpulan tugas :
1. Kumpul Tugas ini dengan Format Kelas_NIM_Posttest 1.ipynb
2. Kumpulkan dalam bentuk link repository github
3. Berikan penjelasan untuk setiap blok kode dengan membuat text atau comment pada kodingan
4. Untuk bagian penjelasan gausa terlalu panjang. 
singkat padat dan jelas

In [ ]:
import pandas as pd
import seaborn as sns
import plotly.express as px

In [ ]:
df = pd.read_csv("angka1.csv")
df

In [ ]:
df_1 = df[df["Attrition_Flag"]=="Attrited Customer"]

In [ ]:
#Tampilkan data
df_1

In [ ]:
df_2 = df[df['Attrition_Flag']=="Attrited Customer"]

In [ ]:
#Tampiilkan data
df_2

In [ ]:
df_3 =df[df["Customer_Age"]<50]

In [ ]:
#Tampilkan data
df_3

In [ ]:
df_4 = df[df["Marital_Status"]=="Single"]

In [ ]:
#Tampilkan data
df_4

In [ ]:
df.info()

#MY  OPSIONAL

In [ ]:
# Tampilkan nilai rata-rata, min,max, dan standar deviasi  untuk setiap kolom bertipe angka
numeric_cols = df.select_dtypes(include=['int', 'float']).columns

# Menghitung nilai rata-rata, minimum, maksimum, dan standar deviasi untuk setiap kolom
stat_df = pd.DataFrame({
    'Mean': df[numeric_cols].mean(),
    'Min': df[numeric_cols].min(),
    'Max': df[numeric_cols].max(),
    'Std Dev': df[numeric_cols].std()
})

# Menampilkan hasil
print(stat_df)

#EXPLOR DATA

In [ ]:
sns.countplot(x="Attrition_Flag", data=df)

fig = px.histogram(df, x="Attrition_Flag")

fig.update_xaxes(title_text="Attired Customer")
fig.update_yaxes(title_text="Count")

fig.show()

In [ ]:
# Buatlah visualisasi yang menampilkan berapa banyak Education level berdasarkan kategori-kategorinya 
# contoh Unknown berapa dsb

sns.catplot(x="Education_Level", kind="count", data=df)

fig = px.histogram(df, x="Education_Level")

fig.update_xaxes(title_text="Education Level")
fig.update_yaxes(title_text="Count")

fig.show()

In [ ]:
# contoh M berapa F berapa

sns.countplot(x="Education_Level", hue="Gender", data=df)

fig = px.histogram(df, x="Education_Level", color="Gender")

fig.update_xaxes(title_text="Education Level")
fig.update_yaxes(title_text="Count")

fig.show()

#VISUALISASI DISTRIBUTION

In [ ]:
# Buatlah historgram untuk customer dan credit card limit

sns.histplot(data=df, x="Customer_Age")

fig = px.histogram(df, x="Credit_Limit")

fig.update_xaxes(title_text="Credit Limit")
fig.update_yaxes(title_text="Count")

fig.show()

In [ ]:
# Buatlah boxplot untuk customer dan credit card limit

sns.boxplot(data=df, x="Customer_Age")

fig = px.box(df, y="Credit_Limit")

fig.update_xaxes(title_text="Credit Limit")
fig.update_yaxes(title_text="Amount")

fig.show()

#VISUALISASI RELATIONSHIP

In [ ]:

# Buatlah scatterplot untuk umur customer dan credit card limit

sns.scatterplot(data=df, x="Customer_Age", y="Credit_Limit")

fig = px.scatter(df, x="Customer_Age", y="Credit_Limit")

fig.update_xaxes(title_text="Customer Age")
fig.update_yaxes(title_text="Credit Limit")

fig.show()

#VISUALISASI COMPOSITION

In [ ]:
# Buatlah pieplot untuk Income Category & Education Level

fig1 = px.pie(df, names='Income_Category')

fig1.show()

fig2 = px.pie(df, names='Education_Level')

fig2.show()

#OPSIONAL (NILAI PLUS)

In [ ]:
# Buatlah visualisasi boxplot Credit Card Limit dengan Jenis Kelamin sebagai pemisahnya (color)

sns.boxplot(x='Credit_Limit', y='Gender', data=df, palette=['red', 'blue'])

In [ ]:
# Buatlah visualisasi boxplot Credit Card Limit dengan Attrition Flag sebagai pemisahnya (color)

sns.boxplot(x='Attrition_Flag', y='Credit_Limit', data=df)

In [ ]:

# Buatlah visualisasi boxplot Age dengan Attrition Flag sebagai pemisahnya (color)

sns.boxplot(x='Attrition_Flag', y='Customer_Age', data=df)

In [ ]:
# Buatlah visualisasi countplot  Attrition Flag dengan jenis kelamin sebagai pemisahnya (color)

sns.countplot(x='Attrition_Flag', hue='Gender', data=df)

In [ ]:
# Buatlah visualisasi countplot  Attrition Flag dengan jenis kelamin sebagai pemisahnya (color)

sns.countplot(x='Attrition_Flag', hue='Gender', data=df)

In [ ]:
# Buatlah visualisasi heatmap untuk Setiap variabel numerik yang ada
df_numeric = df.select_dtypes(include=['int64', 'float64'])
sns.heatmap(df_numeric.corr(), annot=True, cmap='coolwarm')

## Business Understanding & Data Understanding

Importlah pandas, seaborn, dan plotly

Download dataset dari link ini [**Link Dataset**](https://github.com/fnikolas-r/Data-Mining-Course/blob/main/Pertemuan%202/ChurnBank.csv)




Kemudian taruhlah dalam sebuah variabel bernama df


*note: kalian dapat menambah blok yang ada*

In [ ]:
# Buatlah datasetnya disini
# df =

### Business Understanding

Disini kamu berandai andai bahwa kamu adalah direktur sebuah perusahaan, kamu menggunakan dataset ini dan akan menggunakan algoritma Naive Bayes untuk perkembangan perusahaan kamu. Jelaskan tujuan penggunaan dataset ini, tujuan perusahaan, serta tujuan dari penggunaan naive bayes (beri penjelasan di text ini)

### Data Understanding

In [ ]:
# Dari dataset diatas buatlah  variabel yang berisi
# df1 isinya dataset dengan label target AttiredCustomer
# df2 dengan label bukan Attrired customer
# df3 dengan tabel untuk usia dibawah 50 tahun
# df4 untuk customer yang statusnya itu single

# df1 = 
# df2 = 
# df3 = 
# df4 =

In [ ]:
# Tampilkan info dataset (df.info()) dan berikan penjelasannya dalam bentuk teks atau comment

In [ ]:
#@title Opsional (nilai plus)

# Tampilkan nilai rata-rata, min,max, dan standar deviasi  untuk setiap kolom bertipe angka

#### Explore Data

##### Visualisasi Comparison

In [ ]:
# Buatlah visualisasi yang menampilkan berapa banyak yang attired customer dan tidak

In [ ]:
# Buatlah visualisasi yang menampilkan berapa banyak Education level berdasarkan kategori-kategorinya 
# contoh Unknown berapa dsb

In [ ]:
# Buatlah visualisasi yang menampilkan berapa banyak Education level berdasarkan gendernya
# contoh M berapa F berapa

berikan penjelasannya untuk tiap visualsiasi  disini

##### Visualisasi Distribution

In [ ]:
# Buatlah historgram untuk customer dan credit card limit

In [ ]:
# Buatlah boxplot untuk customer dan credit card limit

berikan penjelasannya disini

##### Visualisasi Relationship

In [ ]:
# Buatlah scatterplot untuk umur customer dan credit card limit

##### Visualisasi Composition

In [ ]:
# Buatlah pieplot untuk Income Category & Education Level

### Opsional (Nilai Plus)

In [ ]:
# Buatlah visualisasi boxplot Credit Card Limit dengan Jenis Kelamin sebagai pemisahnya (color)

In [ ]:
# Buatlah visualisasi boxplot Credit Card Limit dengan Attrition Flag sebagai pemisahnya (color)

In [ ]:
# Buatlah visualisasi boxplot Age dengan Attrition Flag sebagai pemisahnya (color)

In [ ]:
# Buatlah visualisasi countplot  Attrition Flag dengan jenis kelamin sebagai pemisahnya (color)

In [ ]:
# Buatlah visualisasi heatmap untuk Setiap variabel numerik yang ada

## Algoritma Naive Bayes dan Preprocessing (pengenalan)

In [ ]:
# sebelum membuat algoritma pertama tama buatlah dataset baru dengan ketentuan
# mengambil dataset df
# Menghapus kolom Unnamed: 0, CLIENTNUM, Umur, dan Limit Kartu Kredit (initinya yang berupa primary key dan bukan tipe kategori)
# dataset dengan kolom yang sudah dihapus tadi kemudian disimpan di dataframe baru (df baru)

In [ ]:
# Buatlah sebuah fungsi naive bayes dengan ketentuan
# Mengambil data dari dataframe yang telah diproses pada blok sebelumnya (diatas)
# Nama fungsinya adalah naive_bayes
# Mengambil 1 saja parameter yaitu sebuah list berisi kategori

# Outputnya berupa prediksi Attrited Customer atau Existing Customer
# Outputnya berupa tuple (_hasilnya, persentasenya berapa) contoh (Existing Customer, 0.004)

# Tidak boleh menggunakan library manapun selain pandas dan numpy



# contoh
# def naive_bayes(prediksi:list)-> tuple :
#   ........

# jadi nanti saat saya coba masukan data 
# naive_bayes(["F",	"Uneducated","Single", "Unknown	Blue"]) akan keluar tuple berupa ("Attired Customer", 0.002)